# WhatsApp Session
WA_SESSION_DIR=.wwebjs_auth

# Database Supabase PostgreSQL
DB_HOST=your-project.supabase.co
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=your-password
DB_NAME=postgres
DB_SSL=true

# Football API (Free API Live Football Data - RapidAPI)
RAPIDAPI_KEY=tu_api_key_aqui
RAPIDAPI_HOST=free-api-live-football-data.p.rapidapi.com

# Telegram Bot
TELEGRAM_BOT_TOKEN=tu_token_de_telegram_aqui

# Server
ADMIN_PORT=3001